
#container {
    /*background-color: rgb(255, 0, 0);*/
    background-image: url(background.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 1040px; 
    height: 900;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: rgb(0, 0, 0);
    height: 120;
    width: 1024;
   text-align: center;
}


nav { 
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a { 
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

main { 
    /*background-color: yellow;*/
    width: 1040px;
    height: 400px;
    text-align: center;
    color: white;
    padding-bottom: 100;
}

footer { 
    background-color: rgba(0, 0, 0, 0.5);
    width: 1040px;
    height: 100px;
}

p { 
    color: white
     
}

p {
    text-align: center;
}
p { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
}


.maps {
    text-align: center;

}

h4 { 
    color: white;
}